<div class="container">

    <div class="about-title"><h2>About</h2></div>

    <div class="translation">
        <h4><b>O$P$</b></h4>

        <p>
            HERE TO TAKE YOUR MONEYS
        </p>
    </div>

    <div class="about">

        <p>WATCH OUT</p>
    </div>

    <div class="endline">
      2016 ©
    </div>
</div>
