<div class="container has-text-centered">

  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">

      <h2 class="title">About</h2>

      <p>
        We are a group of over-enthusiastic, curious minded students from General Assembly. Empowered with the ability to create scalable web applications, we decided to solve the long standing problem of debt-loan tracking between friends.
      </p>



    </div>
  </div>
  <hr>
  <p><a href="/" class="back"><< Back to home</a></p>
</div> <!--last div-->
