<p style="font-size: 10em">
  home
</p>

<a href="/unlink/local" class="btn btn-default">Unlink</a>

<a href="/connect/local" class="btn btn-default">Connect Local</a>

<a href="/unlink/facebook" class="btn btn-primary">Unlink</a>

    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
