<div class="centyr">
  <p class="title">
    <strong>Keep Your Friends in <span id="the-last">CHEQ</span></strong>
  </p>
  <p>
    IOUs. Make sure everyone gets paid back. Down to the cent.
  </p>

  <div class="pirouette">
    <div id="carousel">

      <!-- PANEL 1 -->
      <figure>
        <a href="https://www.pexels.com/photo/mock-up-technology-laptop-apple-51171/">
          <img src="https://static.pexels.com/photos/51171/pexels-photo-51171.jpeg" alt="desk" />
        </a>
      </figure>

      <!-- PANEL 2 -->
      <figure>
        <img src="http://i.imgur.com/QW0WYkX.jpg" alt="main-dash" />
      </figure>

      <!-- PANEL 3 -->
      <figure>
        <canvas id="canvas" width="500" height="400"></canvas>
      </figure>

      <!-- PANEL 4 -->
      <figure>
        <iframe width="500" height="400" src="https://www.youtube.com/embed/JzejpgbL6Uk" frameborder="0" allowfullscreen></iframe>
      </figure>

      <!-- PANEL 5 -->
      <figure>
        <p class="animated infinite tada">
         FREE
        </p>
        <a href="/signup">
          <img src="http://i.imgur.com/b3rcgPj.png" alt="register" style="opacity: 0.95"/>
        </a>
      </figure>

    </div>
    <div id="navigation">
      <button data-increment="-1" id="increment"><i class="fa fa-angle-left fa-4x" aria-hidden="true"></i></button>
      <button data-increment="1" id="decrement"><i class="fa fa-angle-right fa-4x" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
