<div class="centyr">
  <p style="font-size: 3em">
    Welcome to Cheq!
  </p>

  <div class="pirouette">
    <div id="carousel">
      <figure>1</figure>
      <figure>2</figure>
      <figure>3</figure>
      <figure>4</figure>
      <figure>5</figure>
    </div>
    <div id="navigation">
      <button data-increment="-1" id="increment"><i class="fa fa-angle-left fa-4x" aria-hidden="true"></i></button>
      <button data-increment="1" id="decrement"><i class="fa fa-angle-right fa-4x" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
