<div class="footer">
  <footer>
    <div class="trademark">
      <a href="/team">Braindead Pancakes</a>
    </div>
  </footer>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
