<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/"><h1>O$P$</h1></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <% if (typeof user == "undefined") { %>

        <li><a href="/about"><span class="glyphicon glyphicon-cutlery"></span>  About</a></li>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>

        <% } else { %>

        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>  Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>

        <% } %>
   </ul>
  </div>
</nav>
