<<<<<<< HEAD
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">
      <img src="/images/logo.png" alt="moneycheck logo}">
    </a>
  </div>
=======
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/"><h1>O$P$</h1></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/about"><span class="glyphicon glyphicon-cutlery"></span>  About</a></li>
      
        <% if (typeof user == "undefined") { %>

        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
>>>>>>> e85d4487e5e76278c4c72291d8a06552b3e28866

  <div class="nav-right">
    <a class="nav-item" href="#">
      Home
    </a>
    <a class="nav-item" href="#">
      About
    </a>

    <span class="nav-item">
      <% if (typeof user == "undefined") { %>
        <a class="button" href="/signup" >
          <span>Sign Up</span>
        </a>
        <a class="button" href="/login">
          <span>Login</span>
        </a>
      <% } else { %>
        <a class="button" href="/profile">
          <span>Profile</spam>
        </a>
        <a class="button" href="/logout">
          <span>Logout</spam>
        </a>
      <% } %>
    </span>

  </div>

</nav>
