<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="/">
      <img src="/images/logo.png" alt="moneycheck logo}">
    </a>
  </div>

  <div class="nav-right">
    <a class="nav-item" href="/">
      Home
    </a>
    <a class="nav-item" href="/about">
      About
    </a>

    <span class="nav-item">
      <% if (typeof user == "undefined") { %>
        <a class="button is-primary" href="/signup" >
          <span>Sign Up</span>
        </a>
        <a class="button is-warning" href="/login">
          <span>Login</span>
        </a>
      <% } else { %>
        <a class="button" href="/user">
          <span>Profile</span>
        </a>
        <a class="button" href="/logout">
          <span>Logout</span>
        </a>
      <% } %>
    </span>

  </div>

</nav>
