<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">
      <img src="/images/logo.png" alt="moneycheck logo}">
    </a>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="#">
      Home
    </a>
    <a class="nav-item" href="#">
      About
    </a>
    <% if (typeof user == "undefined") { %>
    <a class="nav-item" href="/signup">
      Sign Up
    </a>
    <a class="nav-item" href="/login">
      Login
    </a>

    <% } else { %>

    <a class="nav-item" href="/profile">
      Profile
    </a>
    <a class="nav-item" href="/logout">
      Logout
    </a>

    <% } %>

  </div>

</nav>
