<div class="container">

  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
    <div class="alert alert-success">
        <%= message %>
    </div>
  <% } %>

  <div id="app">
  <!-- render react things -->
  </div>

</div>
