<div class="container">

  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
    <div class="alert alert-success">
        <%= message %>
    </div>
  <% } %>

  <input id="hidden" type="hidden" name="userId" value="<%= user.id %>">

  <div class="tabs is-centered">
  <ul>

    <li>
      <a href="/dashboard">
        DASHBOARD
      </a>
    </li>

    <li>
      <a href="/dashboard/all">
        ALL ACTIVITIES
      </a>
    </li>
    <li>
      <a href="/dashboard/form">

        <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbspCHEQ
      </a>
    </li>
    <!-- <li>
      <a href="#">
        Add Friend
      </a>
    </li> -->
  </ul>
</div>

  <div id="app">
  <!-- render react things -->
  </div>

</div>
