<div class="container">

  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
    <div class="alert alert-success">
        <%= message %>
    </div>
  <% } %>
  <input id="hidden" type="hidden" name="userId" value="<%= user.id %>">
  <div id="app">
  <!-- render react things -->
  </div>

</div>
