<div class="container">

    <div class="page-header text-center">
        <h2>lol</h2>

    </div>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-success">
            <%= message %>
        </div>
        <% } %>




</div>
