<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>O$P$ | <%= title %></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <% include partials/header %>


    <%- body %>



    <% include /partials/footer %>

  </body>
</html>
