<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CHEQ | <%= title %></title>

    <!-- Bulma -->
    <link rel="stylesheet" href="/css/bulma.css">
    <!-- FA Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- JQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/logo-copy.png" type="image/icon">
    <link rel="icon" href="/images/logo-copy.png" type="image/icon">

  </head>

  <body>
    <% include partials/header %>

    <section class="section">
      <%- body %>
    </section>


    <% include /partials/footer %>

    <!-- <script type="text/javascript" src="/js/script.js"></script> -->
    <script type="text/javascript" src="/js/test.js"></script>
  </body>
</html>
