<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>O$P$ | <%= title %></title>

    <!-- Bulma -->
    <link rel="stylesheet" href="/css/bulma.css">
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <% include partials/header %>


    <%- body %>



    <% include /partials/footer %>

  </body>
</html>
